/.idea/Daft_cw.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/test1.py
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.gitignore
/.idea/Daft_cw3.iml
/.idea/inspectionProfiles/Project_Default.xml
/.pytest_cache/v/cache/lastfailed
/.pytest_cache/v/cache/nodeids
/.pytest_cache/v/cache/stepwise
/.project
/.dbeaver/.project-metadata.json.bak
/.dbeaver/data-sources.json
/.dbeaver/credentials-config.json
/.dbeaver/project-metadata.json
